/*
.barraTab{
    background-color: rgb(67, 67, 219);
}

.tab1{
    background-color: rgb(67, 67, 219); 
}
.tab2{
    background-color: rgb(67, 67, 219); 
}
.tab3{
    background-color: rgb(67, 67, 219); 
}
*/
