<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piezas
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
 
    <ion-button routerLink="/inicio">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div style="display: flex;" id="elemento1">
      <div style="margin-right: 10px;"><ion-checkbox id="checkbox1" [(ngModel)]="isChecked1" (ionChange)=" mostrarToast()">Añadir al carrito</ion-checkbox>
      </div>
      <div style="margin-right: 10px;"><ion-img class="imgProcesador" src="/assets/I5Troll.png" ></ion-img></div>
      
      <div style="margin-right: 35px;"> <h2>Troll Core I5</h2></div>
      
      
      <div> <p>200 Trollares</p> </div>
    </div>   
<br>
    <div style="display: flex;" id="elemento1">
      <div style="margin-right: 10px;"><ion-checkbox  id="checkbox2"[(ngModel)]="isChecked2" (ionChange)=" mostrarToast1()">Añadir al carrito</ion-checkbox>
      </div>
      <div style="margin-right: 10px;"><ion-img class="imgProcesador" src="/assets/NvidiaTroll.png" ></ion-img></div>
      
      <div style="margin-right: 35px;"> <h2> Gráfica Troll</h2></div>      
      <div> <p>250 Trollares</p> </div>
    </div>   
    <br>
    <div style="display: flex;" id="elemento1">
      <div style="margin-right: 10px;"><ion-checkbox id="checkbox3" [(ngModel)]="isChecked3" (ionChange)=" mostrarToast2()">Añadir al carrito</ion-checkbox>
      </div>
      <div style="margin-right: 10px;"><ion-img class="imgProcesador" src="/assets/MonitorTroll.png" ></ion-img></div>
      
      <div style="margin-right: 35px;"> <h2>Monitor Troll</h2></div>      
      <div> <p>175 Trollares</p> </div>
    </div>   
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Piezas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
