<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/inicio">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Título de la Tarjeta
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Contenido de la Tarjeta
      </ion-card-content>
    </ion-card>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-img src="/assets/Aitor-Tilla.png" class="imagen"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title>Aitor Tilla</ion-card-title>
            <ion-card-subtitle>12:00-18:30</ion-card-subtitle>
          </ion-card-header>
          <p>Experto en reparación de equipos.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-img src="/assets/Amon Gus.png" class="imagen"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title>Amon Gus</ion-card-title>
            <ion-card-subtitle>10:00-20:00</ion-card-subtitle>
          </ion-card-header>
          <p>Encargado de servicios al cliente.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-img src="/assets/Helen Chufe.png" class="imagen"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title>Helen Chufe</ion-card-title>
            <ion-card-subtitle>20:00-08:00</ion-card-subtitle>
          </ion-card-header>
          <p>Especialista en hardware.</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

