<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/inicio">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Título de la Tarjeta
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Contenido de la Tarjeta
      </ion-card-content>
    </ion-card>
  </ion-header>
</ion-content>
