<ion-header [translucent]="true">
  <link rel="stylesheet" type="text/css" href="inicio.page.scss">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-img class="logo" src="/assets/Logo-trabajo-Sin fondo.png"></ion-img>

    <!--<h1 class="titulo">Sobre Nosotros:</h1><br>-->

    <ion-button class="buttonCentro"  routerLink="/inicio/sobre-nosotros">
      Sobre Nosotros
    </ion-button>
    <br>
    <ion-button class="buttonCentro" routerLink="/tabs/tab1">
      Tienda
    </ion-button>
    


 

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
    
  </ion-header>
</ion-content>


