.logo {
    width: 350px;
    height: 175px;
    margin: auto; /* Centra horizontalmente en relación con el contenedor */
    max-width: fit-content;
}
.titulo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .buttonCentro{
        display: block;
        margin: 0 auto;
        text-align: center;
      
  }
  

.buttonDerecha{

    float: right;

}

.contenido {
    background-image: src('C:\Users\Luis Jesus\Desktop\2ºDAM\Móviles\Tema 1\Project_Moviles\src\assets\fondo trolls.jfif');
  }

  
